body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff; /* set the background color to a very light grey */
}

h1 {
  text-align: center;
  margin-top: 20px;
}

#button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

button {
  display: inline-block;
  width: 45%;
  height: 60px;
  margin: 2%;
  padding: 2%;
  font-size: 1.2em;
  text-align: center;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

@media only screen and (min-width: 768px) {
  #button-container {
    width: 50%;
    margin: 20px auto;
  }

  button {
    width: 22%;
    margin: 1%;
    padding: 1%;
  }
}

@media only screen and (max-width: 767px) {
  #button-container {
    width: 100%;
    margin: 20px auto;
  }

  button {
    width: 18%;
    margin: 2%;
    padding: 2%;
  }
}

#red-button {
  background-color: red;
}

#orange-button {
  background-color: #ffa500;
}

#yellow-button {
  background-color: #ffff00;
}

#green-yellow-button {
  background-color: #adff2f;
}

#green-button {
  background-color: #008000;
}

#green-cyan-button {
  background-color: #00ffff;
}

#cyan-button {
  background-color: #00bfff;
}

#blue-cyan-button {
  background-color: #008b8b;
}

#blue-button {
  background-color: #0000ff;
}

#blue-magenta-button {
  background-color: #8b008b;
}

#magenta-button {
  background-color: #ff00ff;
}

#red-magenta-button {
  background-color: #ff1493;
}

#white-button {
  background-color: #ffffff;
}

#warm-white-button {
  background-color: #f5deb3;
}

#cool-white-button {
  background-color: #add8e6;
}

#off-button {
  background-color: #000000;
}

#rainbow-button {
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  color: white;
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 1.2em;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  width: 200px; /* set the width of the buttons to be equal */
}
#slider-container {
  max-width: 250px;
  margin: 20px auto; /* set the left and right margin to auto */
}
